.view-pane {
  height: 100vh;
  width: 50vw;
  overflow-y: auto;
}

.printable-zone {
  color: #282c34;
  min-height: 297mm;
  width: 210mm;
  font-size: 16px;
  padding: 1.27cm;
  padding-bottom: 2cm;
  line-height: 1.5em;
}

.file-actions {
  position: fixed;
  z-index: 2;
  left: calc(50% - 50px);
  top: 16px;
}

.d-none {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background:#33333314;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #939ee0;
  border-radius: 10px;
}