.view-pane {
  background-color: '#f5f5f5';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #282c34;
}

.printable-zone {
  background-color: '#f5f5f5';
  color: #282c34;
  min-height: 297mm;
  width: 210mm;
  overflow-x: auto;
  overflow-y: auto;
}

.view-pane > div {
  position: fixed;
  top: 57px;
  right: 0;
  left: 50%;
  bottom: 0;
  overflow: auto;
  padding: 10px;
  padding-left: 20px;
  color: #444;
  font-size: 16px;
  line-height: 1.5em;
}

.file-actions {
  position: fixed;
  z-index: 2;
  left: calc(50% - 50px);
  top: 16px;
}

.d-none {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background:#33333314;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #939ee0;
  border-radius: 10px;
}